@import url("https://use.typekit.net/mcq2qtq.css");
@import url('https://static.omg.lol/type/fontawesome-free/css/all.css');

:root {
  --foreground: #212529;
  --background: #f8f9fa;
  --link: rgb(0, 143, 198);
  --unimportant: #868e96;
  --nav-default: #BBBBBB;
  --nav-hover: #444444;
  --nav-current: #C20430;
}

/* HYPERLINK COLORS ================================= */
/* LVHA-order: :link :visited :hover :active */
a { text-decoration: none; }
a:link { color: var(--link); }
a:visited { color: var(--link); }
a:hover { color: var(--link); }
a:active { color: var(--link); }

/* NAVIGATION ======================================= */
.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.menu {
  display: flex;
  gap: 1.5em;
  font-size: 18px;
  text-align: center;
}

ul.nav-links { padding-left: 0; }

.menu li {
  list-style: none;
  padding: 0;
  text-transform: uppercase;
  font-family: museo-sans-condensed;
  font-weight: 300;
  font-size: 1.2em;
}

input[type=checkbox] { display: none; }

.hamburger {
  display: none;
  font-size: 2em;
  user-select: none;
}

@media (max-width: 600px) {
  .menu {
      display: none;
      position: absolute;
      right: 0;
      left: 0;
      text-align: center;
      padding 16px 0;
      background-color: #FFF;
  }
  .menu li { margin: 5px 0; }
  input[type=checkbox]:checked ~ .menu { display: block; }
  .hamburger { display: block; }
}

/* NAVIGATION HYPERLINKS ARE SPECIAL */
/* LVHA-order: :link :visited :hover :active */
.navbar a:link, nav a:visited { color: var(--nav-default); }
.navbar a:hover, nav a:active { color: var(--nav-hover); }
.navbar li.current a:link, nav li.current a:visited { color: var(--nav-current); }

/* END OF NAVIGATION ================================ */

* {
  box-sizing: border-box;
}

body {
  font-family: museo-sans, sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 22px;
  color: #888888;
  background: var(--background);
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  font-family: museo-sans-condensed, sans-serif;
  font-weight: 700;
  margin: 1rem auto;
  text-align: center;
  line-height: 1.6;
}
h1 { font-size: 32px; color: #444444; }
h2 { font-size: 28px; color: #C20430; }
h3 { font-size: 18px; color: #888888; }

header {
  background-color: #EEEEEE;
  padding: 0;
  margin: 0;
}

#roundel {
  text-align: center;
  margin: 0 auto;
  vertical-align: middle;
}

main,
footer {
  max-width: 45em;
  margin: 2em auto;
  padding: 0 1em;
}

footer {
  border-top: solid 1px black;
}

footer p {
  margin-top: 5em;
  font-size: 90%;
  text-align: center;
}

.post-info,
.post-tags {
  font-size: 85%;
  color: var(--unimportant);
  text-align: right;
}

.post-info i:nth-child(2) {
  margin-left: .75em;
}

.tag {
	background: var(--unimportant);
	color: var(--background) !important;
	padding: .3em .4em;
	margin: .8em 0 0 .4em;
	border-radius: .5em;
	text-decoration: none;
	display: inline-block;
}

hr {
	border: 0;
	height: 1px;
	background: #333;
	margin: 2em 0;
}

main img { display: block; max-width: 600px; height: auto; margin: 5px auto; }
figcaption { display: block; font-size: 85%; color: #888888; text-align: center; font-style: italic; }

table {
  margin: 5px auto;
  border-spacing: 5px;
}

pre {
  font-family: Monaco, monospace;
  font-size: 14px;
  line-height: 120%;
  background-color: #CCCCCC;
  padding: 15px;
  word-break: normal;
  border-radius: 5px;
  color: #339933;
  overflow: hidden;
}

/* For 2-up pages */
.grid-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 20px;
    margin-top: 20px;
}
.grid-container .column-2 { background-color: #EEE; border-radius: 10px; padding: 10px; font-size: 14px; }
.grid-container .column-1 h3 { text-align: left; }

/* LITERAL WIDGET */
.now-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  margin-top: 20px;
}
#literal-widget { background-color: #EEE; border-radius: 10px; padding: 10px; }


@media (max-width: 500px) {
	body {
		font-size: 1em;
		padding: 1em;
	}
	main {
		padding: 1.5em;
	}
}