/* START CUSTOM CSS */
@import url('https://use.typekit.net/xob4bhk.css');
:root {
  --mb-link-color: #008FC6;
  --prami-pink: #ED72AB;
  --mb-body-bg-color: #C0C8CF;
  --mb-main-bg-color: #E0E8EF;
  --mb-main-fg-color: #444444;
  --mb-icon-color: hsl(40,50%,50%);
}
main { background-color: var(--mb-main-bg-color); }
body {
  font-family: fira-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: var(--mb-body-bg-color);
}
a:link,a:visited,
a:hover,a:active,
#pronouns a:link,
#pronouns a:visited,
#pronouns a:hover,
#pronouns a:active
{
  color: var(--mb-link-color);
  text-decoration: underline dotted;
  text-decoration-color: var(--mb-link-color);
  border: none;
}
i.fa-solid,
i.fa-brands,
i.omg-icon { color: var(--mb-icon-color); }
i.omg-verified { color: var(--prami-pink) !important; }

div.nowlol {
  display:flex;
  flex-wrap:wrap;
  gap:1em;
  background:#F8F9FA;
  color: var(--mb-main-fg-color);
  border-radius:.5em;
  padding:1em;
  align-items:center;
  justify-content:center;
  margin-bottom:1.5em;
  font-size: 90%;
  letter-spacing: 0.1ch;
}
div.nowlol a:link,
div.nowlol a:hover,
div.nowlol a:visited,
div.nowlol a:active {
  color: var(--mb-link-color);
  text-decoration: none;
  border: none;
}
div.statuslol {
  box-shadow: 0 0 10px #888888;
}
.atm { color: var(--mb-link-color); }

/* =============================================================
** PROFILE PIC
** ============================================================= */

#profile-picture {
  border-radius: 50%;
  border-style: solid;
  border-color: var(--mb-body-bg-color);
  border-width: 10px;
  width: 200px;
  height: 200px;
  text-align: center;
}

/* =============================================================
** CATEGORY ICONS FOR THE NOW PAGE
** 40, 100, 160, 220, 280, 340
** ============================================================= */

/* LISTENING */
i.music,
i.fa-headphones,
i.fa-headphones-simple,
i.fa-apple,
i.fa-microphone-lines,
i.fa-podcast {
  color: hsl(130,50%,50%);
}

/* READING */
i.fa-book-open-reader,
i.fa-book,
i.fa-book-open,
i.fa-book-atlas {
  color: hsl(220,50%,50%);
}

/* WATCHING */
i.fa-tv,
i.fa-film,
i.fa-futbol,
i.fa-baseball,
i.fa-basketball,
i.fa-football,
i.pied-piper-pp { 
  color: hsl(310,50%,50%);
}




